.footer {
    background-color: #faebeb; 
    color: white;
    text-align: center;
  }
  
  .footer-socials,
  .footer-nav {
    padding: 10px 0;
  }
  
  .footer-socials a,
  .footer-nav a {
    color: rgb(54, 54, 54);
    margin: 0 15px;
    text-decoration: none;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* ナビゲーションリンクのパディングを調整 */
  }
  
  .footer-nav a {
    margin: 0 20px; /* リンク間の余白 */
  }
  
  .footer-bottom {
    background-color: #f8c4c4; /* コピーライトのセクションの背景色を暗めに */
    padding: 10px 0;
    font-size: 14px;
  }
  
  @media (max-width: 600px) {
    .footer-socials {
      justify-content: center;
      padding-bottom: 10px;
    }
    
    .footer-socials a {
      margin: 0 10px;
    }
  
    .footer-nav {
      display: flex; /* ブロックではなくフレックスボックスに変更 */
      justify-content: center; /* アイテムを中央に寄せる */
      flex-wrap: wrap; /* 必要に応じて折り返す */
    }
    
    .footer-nav a {
      display: inline; /* 各リンクをインライン要素にする */
      margin: 0 5px; /* 横のマージンを調整 */
      padding: 5px; /* タップしやすくするためにパディングを追加 */
    }
  
    .nav-divider {
      display: none; /* 区切り線は非表示に */
    }
    
    .footer-bottom {
      padding: 10px;
    }
  }