.topics-container {
    max-width: 95%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fafafa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border-radius: 15px; 
    overflow: hidden;
  }
  
  .topics-title {
    text-align: center;
    color: #d10000; 
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 2.5rem; 
  }
  
  .topics-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .topic-item {
    background-color: white;
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .topic-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  }
  
  .topic-item img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
  
  .topic-subtitle {
    color: #333; 
    font-size: 1.2rem;
    padding: 15px;
  }
  
  .topic-item p {
    color: #666; 
    font-size: 1rem;
    text-align: justify;
    padding: 0 15px 15px; 
   
    margin-top: 10px;
  }
  
  @media (max-width: 1024px) {
    .topics-items {
        grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .topics-items {
        grid-template-columns: 1fr; 
    }
  
    .topics-title {
      text-align: center;
      color: #d10000;
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 2.0rem; 
    }
  }
  